<div class="container">
  <div class="row">
    <div class="col">
      <div class="m-3">
        <p>このアプリは様々な観光地や旅行に対する思い出を投稿し、<br>ほかのユーザーの新しい旅行先や見たこともない景色を見つけ、<br>
           ユーザー同士が旅行に行かなくても楽しんでもらうように願いを込めたアプリです。</p>
      </div>
    </div>
  </div>
</div>

