<div class="container">
  <div class="row">
    <div class="col">
      <p><strong>さあ、始めよう！</strong></p>
      <%= link_to"ログイン", new_user_session_path %><br>
      <%= link_to"新規登録", new_user_registration_path %>
      <p>guest rog in</p>
    </div>
  </div>
</div>